stages:
    - checkmerge
    - codestyle
    - test
    - publish
    - deploy

.test-rules:
    rules:
        - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main" || $CI_COMMIT_BRANCH == "main"'
          when: always
        - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^v\d.*/ || $CI_COMMIT_BRANCH =~ /^v\d.*/'
          when: always
        - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /\w*-environment$/ || $CI_COMMIT_BRANCH =~ /\w*-environment$/'
          when: always
        # - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master" && $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME != "develop"'
        #   when: always


check-environment-merges:
    stage: checkmerge
    rules:
        - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /\w*-environment$/'
          when: always
    script: 
        - if [[ $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ ^v[0-9]*.* ]]; then exit 0; else exit 1; fi

check-release-merges:
    stage: checkmerge
    rules:
        - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME =~ /^v\d.*/'
          when: always
    script: 
        - if [[ $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == main ]]; then exit 0; else exit 1; fi


flake8-job:
    stage: codestyle
    extends: .test-rules
    image: python:3.10-alpine
    before_script:
        - pip install tox
    script:
        - tox -e flake8

py310-test-job:
    stage: test
    extends: .test-rules
    needs: ["flake8-job"]
    image: python:3.10
    variables:
        POSTGRES_DB: $DB_NAME
        POSTGRES_USER: $DB_USER
        POSTGRES_PASSWORD: $POSTGRES_PASSWORD
        PGPORT: $PGPORT
        POSTGRES_HOST_AUTH_METHOD: trust
    services:
        - postgres:latest
    before_script:
        - cp $ENV .env
        - pip install tox
    script:
        - tox -e py310-tests
    artifacts:
        reports:
            coverage_report:
                coverage_format: cobertura
                path: coverage.xml

variables:
    TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
    TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA
    DOCKER_TLS_CERTDIR: ""

publish:
    only:
        - /\w*-environment$/
    tags:
        - deployment
    needs: ["py310-test-job"]
    image: docker:19.03.12
    stage: publish
    services:
        - name: docker:19.03.12-dind
          command:
              - /bin/sh
              - -c
              - |
                  echo "$CI_SERVER_TLS_CA_FILE" > /etc/ssl/certs/ca-cert-gitlab.seismo.ethz.ch.crt || exit
                  dockerd-entrypoint.sh || exit
    script:
        - docker build -t $TAG_COMMIT -t $TAG_LATEST .
        - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
        - docker push $TAG_COMMIT
        - docker push $TAG_LATEST

deploy:
    only:
        - /\w*-environment$/
    needs: ["publish"]
    environment:
        name: ${CI_COMMIT_BRANCH}
    image: alpine:latest
    stage: deploy
    tags:
        - deployment
    script:
        - sed -i '$a\' $ENV && echo "TAG_COMMIT=$TAG_COMMIT" >> $ENV
        - chmod og= $SERVER_RSA
        - apk update && apk add openssh-client

        - ssh -i $SERVER_RSA -o StrictHostKeyChecking=no $SERVER_USER@${CI_ENVIRONMENT_URL#*://} "docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY"
        - ssh -i $SERVER_RSA -o StrictHostKeyChecking=no $SERVER_USER@${CI_ENVIRONMENT_URL#*://} "docker pull $TAG_COMMIT"
        - ssh -i $SERVER_RSA -o StrictHostKeyChecking=no $SERVER_USER@${CI_ENVIRONMENT_URL#*://} "mkdir -p db"

        - scp -i $SERVER_RSA -o StrictHostKeyChecking=no $ENV $SERVER_USER@${CI_ENVIRONMENT_URL#*://}:~/.env
        - scp -i $SERVER_RSA -o StrictHostKeyChecking=no docker-compose.yml $SERVER_USER@${CI_ENVIRONMENT_URL#*://}:~/docker-compose.yml
        - scp -i $SERVER_RSA -o StrictHostKeyChecking=no ./db/init-database.sh $SERVER_USER@${CI_ENVIRONMENT_URL#*://}:~/db
        - scp -i $SERVER_RSA -o StrictHostKeyChecking=no ./db/postgresql.conf $SERVER_USER@${CI_ENVIRONMENT_URL#*://}:~/db

        - ssh -i $SERVER_RSA -o StrictHostKeyChecking=no $SERVER_USER@${CI_ENVIRONMENT_URL#*://} "docker-compose down"
        - ssh -i $SERVER_RSA -o StrictHostKeyChecking=no $SERVER_USER@${CI_ENVIRONMENT_URL#*://} "docker-compose up -d"
