services:
  postgres:
    image: postgres:17.5
    env_file:
      - .env
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    stop_grace_period: '3s'
    shm_size: 512MB
    volumes:
      - pg_data:/var/lib/postgresql/data/
      - ./db/init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
      - ./db/init-function.sh:/docker-entrypoint-initdb.d/init-function.sh
      - ./db/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./db/create_partitions.sql:/etc/postgresql/create_partitions.sql
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${DB_NAME}", "-U", "${DB_USER}" ]
      timeout: 45s
      interval: 5s
      retries: 20
    networks:
        - backend

  webservice:
    env_file:
      - .env
    # build: .
    image: ${TAG_COMMIT}
    depends_on:
      postgres:
        condition: service_healthy
    restart: ${DOCKER_RESTART_POLICY:-unless-stopped}
    stop_grace_period: '3s'
    tty: true
    ports:
      - ${DOCKER_WEB_PORT:-8000}:8000
    networks:
        - backend

volumes:
  pg_data: {}
networks:
  backend: {}
