
autopep8>=1.6.0
fastapi>=0.74.1
flake8>=4.0.1
gunicorn>=20.1.0
psycopg2>=2.9.3
pytest>=7.0.1
pytest-cov>=3.0.0
pytest-dotenv>=0.5.2
python-dotenv>=0.19.2
requests>=2.27.1
SQLAlchemy>=1.4.31
uvicorn>=0.17.5
